.card-article {
  border: 1px solid rgb(180, 130, 100);
  border-radius: 0.25rem;
  overflow: hidden;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: 0.2s all;
  &:hover {
    color: rgb(180, 130, 100);
    & .card-img-top {
      transform: scale(1.08);
    }
    & .index-img-cover {
      opacity: 0.3;
    }
    & .index-img-btn {
      opacity: 1;
    }
  }
}