.index-middle-img {
  overflow: hidden;
  max-height: 450px;
  height: auto;
  object-fit: cover;
}
.subscribe-bg {
  height: 45vh;
  min-height: 20rem;
  background-image: url('https://images.unsplash.com/photo-1597528662465-55ece5734101?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80');
  & span, #subscribe {
    z-index: 2;
  }
  & #subscribe {
    width: 85%;
    @media (min-width: 768px) {
      width: 60%;
    } 
    & button {
      letter-spacing: 2px;
      border-radius: 0!important;
      margin: 0;
      color: #f8f9fa;
      background-color: rgb(150, 100, 70);
      &:hover {
        background-color: rgb(180, 130, 100);
      }
    }
  }
  &::after {
    background: #000;
    opacity: 0.7;
  }
}
.bottom-bg-cover {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
.index-input {
  background: transparent;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.8);
  text-align: center;
  color: #f8f9fa;
  padding: 0.6rem;
  &:focus {
    background: none;
    color: #f8f9fa;
  }
  &::placeholder {
    color:rgba(255, 255, 255, 0.5);
  }
}
.header-nav {
  & .header-nav-link {
    text-align: center;
    letter-spacing: 0.16em;
    line-height: 1.6;
    padding-right: 1.4vw;
    padding-left: 0; //padding-left: 1.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    @include media-breakpoint-down(lg) {
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-start;
    }
    & span {
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.08em;
      color: #a39f9c;
      display: block;
      @include media-breakpoint-down(lg) {
        padding-left: 1rem;
      }
    }
    &:hover {
      &::after {
        @include media-breakpoint-up(lg) {
          content: "";
          position: absolute;
          border-bottom: 2px solid #a39f9c;
          display: inline-block;
          width: 86%;
          top: 79%;
          left: 7%;
          transition: all 0.4s ease 0s;
        }
      }
    }
    &::after {
      @include media-breakpoint-up(lg) {
        content: "";
        position: absolute;
        border-bottom: 2px solid #a39f9c;
        display: inline-block;
        width: 0;
      }
    }
    &.router-link-exact-active {
      @include media-breakpoint-up(lg) {
        &::after {
          content: "";
          position: absolute;
          border-bottom: 2px solid #a39f9c;
          display: inline-block;
          width: 86%;
          top: 79%;
          left: 7%;
        }
      }
    }
  }
}
.card-product {
  border: 1px solid rgba(180, 130, 100, 0);
  border-radius: 0.25rem;
  overflow: hidden;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: 0.2s all;
  & .card-img-top {
    max-height: 250px;
    height: 250px;
    object-fit: cover;
  }
  & .index-img-cover {
    opacity: 0;
    transition: 0.2s all;
  }
  & .index-img-btn {
    opacity: 0;
    transition: 0.2s all;
    & button {
      color: rgba(255, 255, 255, 0.9);
      border: 1px solid rgba(255, 255, 255, 0.9);
      border-radius: 0.25rem;
      &:hover {
        color: rgb(180, 130, 100);
        background-color: rgba(255, 255, 255, 0.9);
      }
    }
  }
  &:hover {
    border: 1px solid rgba(180, 130, 100, 0.5);
    border-radius: 0.25rem;
    color: rgb(180, 130, 100);
    & .card-img-top {
      transform: scale(1.08);
    }
    & .index-img-cover {
      opacity: 0.3;
    }
    & .index-img-btn {
      opacity: 1;
    }
  }
}

.card-icon-link {
  z-index: 5;
  & i {
    color: #EA0000;
    top: 3%;
    right: 5%;
  }
  & .bi-heart {
    filter: drop-shadow(0px 0px 2px #ffffff);
    &:hover {
      color: #ff1919;
      transition: 0.3s;
      transform: scale(1.2, 1.2);
      filter: drop-shadow(0px 0px 2px #ffffff);
    }
  }
  & .bi-heart-fill {
    color: #EA0000;
    &:hover {
      color: #ff1919;
      transition: .3s;
      transform: scale(1.2, 1.2);
      filter: drop-shadow(0px 0px 2px #ffffff);
    }
  }
}
.card-link {
  overflow: hidden;
  & img {
    transition: 0.3s all;
  }
  & .card-title {
    transition: 0.2s all;
    color: rgb(150, 100, 70);
    font-size: 18px;
  }
  & .card-text {
    transition: 0.2s all;
    color: #EA0000;
    font-size: 18px;
  }
  & span del {
    opacity: 0.8;
    font-size: 14px;
  }
  &:hover {
    & img {
      -webkit-transform: scale(1.08);
      transform: scale(1.08);
      @include media-breakpoint-down(sm) {
        transform: none;
      }
    }
    & .card-title {
      color: rgb(180, 130, 100);
    }
    & .card-text {
      color: #ff1919;
    }
  }
}
.card-lick {
  & button {
    transition: 0.2s all;
    border: 1px solid rgb(150, 100, 70);
    border-radius: 3px;
    & span {
      transition: 0.2s all;
      font-size: 0.75rem;
      color: rgb(150, 100, 70);
    }
    &:hover {
      background-color: rgb(180, 130, 100);
      & span {
        font-size: 1rem;
        color: rgb(255, 255, 255);
        @include media-breakpoint-down(sm) {
          transform: none;
        }
      }
    }
  }
  & a {
    background-color: rgb(150, 100, 70);
    border: 1px solid rgb(150, 100, 70);
    color: rgb(255, 255, 255);
    transition: 0.2s all;
    &:hover {
      background-color: rgb(180, 130, 100);
      color: rgb(255, 255, 255);
    }
  }
}
.card-articles {
  border: none;
  background: rgba(255, 255, 255, 0.95);
  & .badge {
    border-top-left-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
  }
}
.text-inner {
  opacity: 0.85 !important;
}
.product-img {
  max-width: 100px;
}
.bi-arrow-repeat {
  display: inline-block;
}
.ck-editor__editable_inline {
  min-height: 250px;
}
.banner-btn {
  &:hover {
    border:1px solid rgba(150, 100, 70, 0.8);
    background-color: rgba(150, 100, 70, 0.8);
  }
}